:root {
    --primary-color: #F7ACD0;
    --secondary-color: #EB74A3;
    --tertiary-color: #BDE8FB;
    --quaternary-color: #6e280e;
    --quintenary-color: #ADB1B2;
    --sextenary-color: #699FBB;
    --septenary-color: #6F7475;
    --default-border: 5px solid var(--quaternary-color);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.calc {
    background-color: var(--primary-color);
    border: var(--default-border);
    box-shadow: 5px 5px 0px 0px var(--secondary-color);
    border-radius: 30px;
    padding: 20px 10px;
    width: 300px;
}

.calc__display {
    background-color: var(--quintenary-color);
    border: var(--default-border);
    box-shadow: 1px 1px 0px 4px var(--septenary-color) inset;
    border-radius: 30px 30px 2px 2px;
    padding: 25px;
    margin: 15px 5px 30px;
    font-family: 'Orbitron', sans-serif;
}

.display__numbers {
    text-align: right;
    font-size: 3rem;
    font-weight: bold;
    color: #6d2262c9;
    height: 40px;
}

.buttons__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.calc__button {
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    font-size: 2.5rem;
    height: 4rem;
    width: 4rem;
    margin: 3px;
    border: var(--default-border);
    box-shadow: 3px 3px 0px 0px var(--sextenary-color);
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.pressed {
    background-color: #7cdddd;
}